# ------------------------------------------------------------
# OS-specific files
# ------------------------------------------------------------

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*Zone.Identifier

# Linux
.Trash-*

# ------------------------------------------------------------
# VS Code
# ------------------------------------------------------------
.vscode/
.history/

# ------------------------------------------------------------
# Logs et backup temporaires
# ------------------------------------------------------------
*.log
*.bak
*.tmp
*.swp
*.swo
